# Old Proxy Command
#   ProxyCommand ssh -aY bastion 'nc %h %p'

{% if work == true %}
Host *
    ProxyCommand ssh -q -W %h:%p bastion
    ForwardAgent yes
    GSSAPIAuthentication no
    VerifyHostKeyDNS no
    HashKnownHosts no
    TCPKeepAlive yes
    ServerAliveInterval 300
{% endif %}
